.homeheader {
   background-color: #dcd3d3ab !important; 
}

.headertext{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.bodytext{
    color: white;
}


